/* .conteinerFav {
    color: white;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    justify-content: space-around;
    margin-bottom: 10%;
}

#itemFav {
    border-style: groove;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}

#itemFav img {
    max-width: 25%;
}

#conteinerFav2 {
    display: contents;
} */