#game_video {
    margin-top: 0%;
    margin-left: 15%;
    margin-bottom: 5%;
    min-height: 100%;
}

#contenedor_tags {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 350px;
    align-content: stretch;
    padding: 2%;
    padding-top: 0%;
}

#tag_details {
    border-style: solid;
    border-radius: 5px;
    margin: 1%;
}

#tag_details p {
    padding: 5%;
}

#contenedor_miniCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

#boton_juego {
    padding: 1%;
}

#boton_juego :hover {
    box-shadow: 5px 5px 20px #000000;
    transform: translateY(-5px);
}

#loading_detail {
    text-align: center;
    margin-top: 15%;
}

#conteiner_detalles {
    display: flex;
}

#conteinerDetails {
    display: flex;
}

#conteinerSide_detalles2 {
    width: 30%;
    display: block;
}

#conteinerData_detalles2 {
    width: 75%;
    padding-right: 5%;
}

#conteinerSide_detalles {
    border-radius: 10px;
    border: 1px;
    border-style: groove;
    border-color: black;

    background-color: rgba(0, 0, 0, 0.473);
    padding: 10%;
}

#conteinerSide_detalles a {
    word-break: break-all;
    text-decoration: none;
}

#conteinerSide_detalles button {
    border-radius: 5px;
    max-height: 100%;
    min-width: 100%;
}

.imagenesJuego {
    display: flex;
}

.imagenJuego {
    width: 100%;
    border-radius: 20px;
}

.game_detail {
    color: white;
    padding: 10%;
    font-size: x-large;
}

.game_detail button,
.game_detail button::after {
    padding: 16px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #000000;
    outline: transparent;
    position: relative;

}

.game_detail button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "GAME STORE";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #000000 3%, #000000 5%, #ff013c 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #000000;
    clip-path: var(--slice-0);
}

.game_detail button:hover::after {
    cursor: pointer;
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

.imagenesJuego button {
    background: none;
    border-radius: 20px;
    padding: 0;
    text-shadow: none;
    cursor: pointer;
}

#contenedor_rev{
    border-style: solid;
    border-radius: 20px;
    padding: 5%;
    margin: 5%;
}

.Form_review {
    border-style: solid;
    border-radius: 20px;
    padding: 5%;
    margin: 5%; 
    font-size: 25px;
}

#score {
    display: flex;
}

#Label_review {
    display: flex;
    flex-direction: column;
}

#modal_detail {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100%;
    backdrop-filter: blur(2px);
    background: rgb(0 0 0 / 69%);
  }

#imagen_pop{
    max-width: 1200px;
}

.Label_score_detail{
    margin-top: 5%;
}

#buttons_detail_buy{
    margin: 5%;
}